body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-Black', sans-serif;
}

p {
    color: #8f8f8f;
}

/* headings */
.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-header {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

/* Download Button */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title section */
#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}


/* title image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 30%;
}

/* Features */
#features {
    background-color: white;
    position: relative;
}

.features-icon {
    margin-bottom: 1rem;
    color: #ef8172;
}

.features-icon:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


.testimonials-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

/* Press */

#press {
    padding-bottom: 3%;
    background-color: #ef8172;
}

#press .press-logo {
    width: 15%;
    margin: 20px 20px 15px;
}



/* pricing */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}



.price-text {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

/* CTA section*/
#cta {
    background-color: #ff4c68;
    color: white;
}


/* Footer */
#footer {
    background-color: white;
}

#footer .footer-icon {
    padding: 20px 10px;
}

/* media queries */
@media (max-width:990px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}