body {
    padding: 10px;
}

.container-my-apps {
    padding: 15px;
}

.my-apps-container-box {
    padding-bottom: 15px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px 10px 0px;
}


#footer .footer-icon {
    padding: 20px 10px;
    text-decoration: none;
    color: white;
}