body {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #1A5F7A;
    text-align: center;
    color: white;
}

.container {
    height: 100vh;
    width: 100%;

}

.letter-counter-form {}

.title {
    padding-top: 20%;
    text-align: center;
    font-size: 3.5rem;
    color: white;
}

.input-text {
    width: 40%;
    height: 2rem;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
}

.display-text-static {
    font-size: 1rem;
}

.display-text-count {
    font-weight: bold;
    font-size: 1.5rem;
}