body {
    margin: 0;
    padding: 0;
    background-color: #146C94;
    color: white;
    text-align: center;
}

.container {
    margin-top: 10%;
}

.title {
    font-size: 4rem;
}

.grid-container {
    display: grid;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    margin: 0 15%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

.item-text {
    grid-column: 1 / span 3;
    color: black;
}

.item-button {
    grid-column: 4 / span 1;
}

.line-seperator {
    margin: 3rem 0;
    border-width: 0;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
}

.btn-add {
    background-color: green;
    /* margin-bottom: 3rem; */
}

.btn-remove {
    background-color: red;
}