body {
    margin: 0;
    padding: 0;
    background-color: #146C94;
    color: white;
    text-align: center;
}

.container {
    margin-top: 10%;
}

.title {
    font-size: 4rem;
}

/* 
.to-do-container{
    margin: 5% 15%;
}

.grid-container{
    display: grid;
    justify-content: stretch;
    align-items: stretch;
  
}

.grid-item-input{
    grid-column: 1 / span 6;
    grid-row: 1;
}

.grid-item-button{
    grid-column: 7 / span 1;
    grid-row: 1;
}

.grid-item{
    padding: 14px;
    margin: 20px 5px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn {
    font-size: 1rem;
}

.btn-add{
    background-color: #159895;
}

.btn-remove{
    background-color: #B46060;
} */


.grid-container {
    display: grid;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    margin: 0 15%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

.item-text {
    grid-column: 1 / span 3;
    color: black;
}

.item-button {
    grid-column: 4 / span 1;
}

.line-seperator {
    margin: 3rem 0;
    border-width: 0;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
}

.btn-add {
    background-color: green;
    /* margin-bottom: 3rem; */
}

.btn-remove {
    background-color: red;
}